<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:replace="~{error/default :: header}">
  <title layout:fragment="title">Yggdrasil | Access Forbidden</title>
</head>
<body>
<div class="container">
  <div layout:replace="~{error/default :: errorSummary(httpStatus = '403', message = 'Access Forbidden')}">
    <p layout:fragment="description">
      You have tried to access a page that you don't have permission to view.
    </p>
  </div>
  <div layout:replace="~{error/default :: errorDetails}">
    <small>Error details not available</small>
  </div>
</div>
</body>
</html>
