<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:replace="~{error/default :: header}">
  <title layout:fragment="title">Yggdrasil | Page Not Found</title>
</head>
<body>
<div class="container">
  <div layout:replace="~{error/default :: errorSummary(httpStatus = '404', message = 'Page Not Found')}">
    <p layout:fragment="description">
      You have tried to access a page that does not exist.
    </p>
  </div>
  <div layout:replace="~{error/default :: errorDetails}">
    <small>Error details not available</small>
  </div>
</div>
</body>
</html>
