<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:replace="~{error/default :: header}">
  <title layout:fragment="title">Yggdrasil | Method Not Supported</title>
</head>
<body>
<div class="container">
  <div layout:replace="~{error/default :: errorSummary(httpStatus = '405', message = 'Method Not Supported')}">
    <p layout:fragment="description">
      You have tried to access a page through an unsupported HTTP method.
    </p>
  </div>
  <div layout:replace="~{error/default :: errorDetails}">
    <small>Error details not available</small>
  </div>
</div>
</body>
</html>
a