<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:replace="~{error/default :: header}">
  <title layout:fragment="title">Yggdrasil | Internal Server Error</title>
</head>
<body>
<div class="container">
  <div layout:replace="~{error/default :: errorSummary(httpStatus = '500', message = 'Internal Server Error')}">
    <p layout:fragment="description">
      The application has encountered an internal error processing the request.
    </p>
  </div>
  <div layout:replace="~{error/default :: errorDetails}">
    <small>Error details not available</small>
  </div>
</div>
</body>
</html>
a