<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.springframework.org/security/tags">
<head layout:fragment="header">
  <title layout:fragment="title">Yggdrasil | Internal Server Error</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <meta name="_csrf" th:content="${_csrf.token}" th:if="${_csrf != null}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}" th:if="${_csrf != null}"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script th:inline='javascript'>
    window._contextPath = /*[[@{/}]]*/ '/';
  </script>
  <script type="text/javascript" th:src='@{/js/}+${@assets.get("shared").get("js")}'></script>
  <script type="text/javascript" th:src='@{/js/}+${@assets.get("page/basic").get("js")}'></script>
</head>
<body>
<div class="container">
  <div layout:fragment="errorSummary(httpStatus, message)" class="panel panel-danger">
    <div class="panel-heading">HTTP <span th:text="${httpStatus}">500</span> :
      <span th:text="${message}">Internal Server Error</span>
    </div>
    <div layout:fragment="description" class="panel-body">
      <p>
        The application has encountered an internal error processing the request.
      </p>
    </div>
  </div>
  <div layout:fragment="errorDetails">
    <div class="panel panel-warning">
      <div class="panel-heading" th:if="${exception}" th:text="'Exception: ' + ${exception} + ']'">Error Details</div>
      <div class="panel-heading" th:if="${exception} == null">Error Details</div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li th:if="${errorId} != null">
            <small>
              <strong>Error ID:</strong> <span th:text="${errorId}"><i>unknown</i></span>
            </small>
          </li>
          <li th:if="${request} != null">
            <small>
              <strong>Request:</strong> <span th:text="${request.method}"><i>unknown</i></span>
              <span th:text="${request.requestURI}"><i>unknown</i></span>
            </small>
          </li>
          <li th:if="${request.getHeader('referer') != null && request.getHeader('referer').trim().length() > 0}">
            <small>
              <strong>Referer:</strong> <span th:text="${request.getHeader('referer')}"><i>unknown</i></span>
            </small>
          </li>
          <li th:if="${request} != null">
            <small>
              <strong>IP Address:</strong> <span th:text="${request.getRemoteAddr()}"><i>unknown</i></span>
            </small>
          </li>
          <li th:if="${request} != null">
            <small>
              <strong>User Agent:</strong> <span th:text="${request.getHeader('User-Agent')}"><i>unknown</i></span>
            </small>
          </li>
          <li>
            <small>
              <strong>User:</strong>
              <span sec:authorize="isAuthenticated()">
                  <span th:text="${#authentication.name}"></span>
                </span>
              <span sec:authorize="isAnonymous()">
                  <i>not authenticated</i>
                </span>
            </small>
          </li>
        </ul>
      </div>
      </p>
    </div>
  </div>
</body>
</html>
