<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Yggdrasil | Admin Dashboard</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <meta name="_csrf" th:content="${_csrf.token}" th:if="${_csrf != null}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}" th:if="${_csrf != null}"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script th:inline='javascript'>
    window._contextPath = /*[[@{/}]]*/ '/';
    window._permissions = /*[[${permissions}]]*/ [];
  </script>
  <script type="text/javascript" th:src='@{/js/}+${@assets.get("shared").get("js")}'></script>
  <script type="text/javascript" th:src='@{/js/}+${@assets.get("page/basic").get("js")}'></script>
</head>
<body>
<div class="container embedded">
  <div class="content-wrapper">
    <section class="content-header">
      <h1>Administration
        <small>Dashboard</small>
      </h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box info">
            <span class="info-box-icon bg-info"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Users</span>
              <div><span class="info-box-number inline">1000</span> total</div>
              <div><span class="info-box-number inline">153</span> online</div>
            </div>
          </div>
        </div>
        <!-- TODO - 3 more metrics boxes -->
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box box-info collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">User Management</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              User list goes here <!-- TODO -->
            </div>
            <div class="box-footer">
              <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left"><i
                    class="fa fa-user-plus"></i> Add Userr</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
</body>
</html>