<div class="dropdown align-right">
  <button id="user-{{userId}}-menu" type="button" class="btn btn-xs btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
  </button>
  <ul aria-labelledby="user-{{userId}}-menu" class="dropdown-menu">
    <li><a href="javascript:void(0)">Action 1</a></li>
    <li><a href="javascript:void(0)">Action 2</a></li>
    <li><a href="javascript:void(0)">Action 3</a></li>
  </ul>
</div>
