.google-login-container {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.game-container {
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu-container {
  display: none;
  position: fixed;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  z-index: 1000;
  width: 200px;
  height: 100%;
}

.menu-container .nav li {
  padding: 0px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(11, 26, 40, 0.5);
}

.menu-container .nav-stacked > li > a {
  padding: 10px 10px;
  color: #ddd;
  white-space: nowrap;
}

.menu-container .nav-pills > li > a:hover,
.menu-container .nav-pills > li > a:active,
.menu-container .nav-pills > li > a:focus {
  color: #fff;
  background-color: rgba(128, 128, 128, 0.8);
}

.menu-container .menu-icon {
  width: 12px;
  text-align: center;
}

.menu-container .profile {
  background: rgba(39, 93, 139, 0.8);
  color: #ccc;
  padding: 5px 15px;
  text-align: center;
  font-size: 11px;
}

.menu-container .profile strong {
  color: #fff;
  font-weight: bolder;
  font-size: 16px;
}

.panel-container {
  display: none;
  position: fixed;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  z-index: 1010;
  width: 100%;
  height: 100%;
}

.panel-container div.container.embedded {
  padding: 0;
}

.panel-container .panel {
  background: rgba(0, 0, 0, 0.5);
}

.panel-container .panel-heading {
  color: #ffffff;
  font-weight: bold;
}

.panel-container .panel-default {
  border-color: #000;
}

.panel-container .panel-default > .panel-heading {
  background: rgba(128, 128, 128, 0.8);
  border-color: #000;
}

.panel-container .panel-default > .panel-body {
  background: rgba(25, 25, 25, 0.5);
}

.panel-container .panel-primary {
  border-color: #000;
}

.panel-container .panel-primary > .panel-heading {
  background: rgba(39, 93, 139, 0.8);
  border-color: #000;
}

.panel-container .panel-primary > .panel-body {
  background: rgba(11, 26, 40, 0.5);
}

.panel-container .panel-success {
  border-color: #000;
}

.panel-container .panel-success > .panel-heading {
  background: rgba(0, 153, 51, 0.8);
  border-color: #000;
}

.panel-container .panel-success > .panel-body {
  background: rgba(0, 77, 26, 0.5);
}

.panel-container .panel-info {
  border-color: #000;
}

.panel-container .panel-info > .panel-heading {
  background: rgba(40, 140, 189, 0.8);
  border-color: #000;
}

.panel-container .panel-info > .panel-body {
  background: rgba(17, 63, 85, 0.5);
}

.panel-container .panel-warning {
  border-color: #000;
}

.panel-container .panel-warning > .panel-heading {
  background: rgba(153, 115, 0, 0.8);
  border-color: #000;
}

.panel-container .panel-warning > .panel-body {
  background: rgba(48, 32, 0, 0.5);
}

.panel-container .panel-danger {
  border-color: #000;
}

.panel-container .panel-danger > .panel-heading {
  background: rgba(128, 0, 0, 0.8);
  border-color: #000;
}

.panel-container .panel-danger > .panel-body {
  background: rgba(32, 0, 0, 0.5);
}
