<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
  <title>Yggdrasil</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <meta name="_csrf" th:content="${_csrf.token}" th:if="${_csrf != null}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}" th:if="${_csrf != null}"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script th:inline='javascript'>
    window._contextPath = /*[[@{/}]]*/ '/';
    window._permissions = /*[[${permissions}]]*/ [];
  </script>
  <script type="text/javascript" th:src='@{/js/}+${@assets.get("shared").get("js")}'></script>
  <script type="text/javascript" th:src='@{/js/}+${@assets.get("page/game-window").get("js")}'></script>
</head>
<body>
<div class="game-container"></div>
<div id="system-menu" class="menu-container">
  <ul class="nav nav-pills nav-stacked">
  </ul>
</div>
<div id="system-panel" class="panel-container container-fluid">
</div>
<form id="logout-form" th:action="@{/logout}" method="post">
  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>
</body>
</html>
